body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: #252525;
}
.square {
    background-color: yellow;
    border:1px solid black;
}
